<div class="wrapper">
  <div class="progress-wrapper">
     <div class="progressbar">
      <div class="side front">
        <div class="bar" [ngStyle]="getBarPercentage"></div>
      </div>
      <div class="side back">
        <div class="bar" [ngStyle]="getBarPercentage"></div>
      </div>
      <div class="side bottom">
        <div class="bar" [ngStyle]="getBarPercentage"></div>
      </div>
      <div class="side top">
        <div class="bar" [ngStyle]="getBarPercentage"></div>
      </div>
      <div class="side left">
      </div>
     </div>
  </div>
</div>


 <div>
   {{ProgressbarPercentage}}
 </div>
