.wrapper{
  width: 40vw;
    background: gray;
    /* text-align: center; */
    /* font-size: 21px; */
    display: flex;
    justify-content: center;
    min-height: 31vh;
    align-items: center;
}

.progress-wrapper {
    width: 300px;
    height: 60px;
/*     top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
}
.progressbar {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-30deg);
}

.side {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.3);
  top: 0;
  left: 0;
  position: absolute;
}
.bottom {
  box-shadow: 10px 10px 50px 5px rgba(90, 90, 90, 0.7);
  transform: rotateX(90deg);
  transform-origin: bottom;
}
.top {
  transform: translate(0, -100%) rotateX(90deg);
  transform-origin: bottom;
}
.back {
  transform: translateZ(-60px);
}
.left {
  width: 60px;
  transform: rotateY(90deg);
  transform-origin: left;
}
.bar {
  height: 100%;
  width: 1%;
  background-color: rgba(225, 0, 120, 0.6);
  box-shadow: 5px 5px 50px 5px rgba(225, 0, 120, 0.3);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0s;
}
