/* You can add global styles to this file, and also import other style files */
.Mostrar {
  //    width: 300px;
  // margin: 90px auto;
  -webkit-animation-name: bounce-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-name: bounce-in;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@-webkit-keyframes bounce-in {
  0% {
      opacity: 0;
      -webkit-transform: scale(.3);
      transform: scale(.3);
  }
  50% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  51% {
      opacity: 1;
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
  }
  70% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
  }
}

@keyframes bounce-in {
  0% {
      opacity: 0;
      transform: scale(.3);
  }
  50% {
      transform: scale(1);
  }
  51% {
      opacity: 1;
      transform: scale(1.0);
  }
  70% {
      transform: scale(0.9);
  }
}
.WrapItUp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
