<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Do Mês" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Da Semana" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Do Dia" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Do FDS" tabIcon="contacts"></ion-tab>
</ion-tabs>
