<nb-layout>
  <nb-layout-header fixed>
          <app-header style="width:100%"></app-header>
  </nb-layout-header>
  <br>
  <nb-layout-column class="Mostrar">
    <div class="WrapItUp">
         <nb-card class="Card99" *ngFor="let item of Menu">
              <nb-card-header>{{item.nome}}</nb-card-header>
              <nb-card-body>
                  <div style=" text-align: center; ">
                      <img width="50%" height="50%" src="{{item.url_imagem}}">
                  </div>
              </nb-card-body>
              <nb-card-footer></nb-card-footer>
          </nb-card>
        </div>
  </nb-layout-column>
</nb-layout>
